body{
    background-color: rgb(251, 222, 0);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 { 
    font-family: Helvetica; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: bold; 
    font-weight: 700; 
    line-height: 35px; 
    color: rgb(35,31,32);
    display: none;
} 

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    font-family: Helvetica; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: rgb(35,31,32);
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.portfolio_banner{
    background-color: rgb(251, 222, 0);
    width: 100%;
    padding-top: 1%;
    min-height: 250px;
}

.project_container{
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
}

.exhibit{
    display: inline-block;
    width: 300px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: rgb(35,31,32);
    color: rgb(251, 222, 0);
    border-radius: 8px;
    font-family: Helvetica; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: bold; 
    font-weight: 700; 
    line-height: 35px; 
    position: relative;
}

.exhibit_content{
    display: inline-flex
    width: 100%;
    background-color: rgb(251, 222, 0);
    color: rgb(35,31,32);
    border-radius: 8px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}

.exhibit_container{
    display: inline-block;
    width: 300px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.line_break{
    display: inline-flex;
    width: 250px;
    height: 3px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(35,31,32);
}

.img_container_exhibit{
    
}

iframe:hover{
    width: 1000px;
    height: 1000px;
    box-shadow: 3px 3px 2px rgb(97, 95, 95); 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}



